node_modules
vendor
.env.example
.git
.gitignore
.gitattributes
docker-compose.yml
Dockerfile
.dockerignore
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/app/.gitignore
!storage/framework/.gitignore
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore
tests
phpunit.xml
.phpunit.result.cache
